hr {
    margin: 5px auto;
    border: 1px solid green;
    height: 1px;
    width: 95%;
}

.section {
    box-sizing: border-box;
    display: inline-block;
    background-color: #baffcf;
    border-style: solid;
    border-width: 1px;
    width:  100%;
    padding: 15px;
    border: none;
}

.section img {
    display: inline-block;
    width: 45%;
    height: auto;
}

.sectionText {
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    color: #222;
    background-color: #0000;
    padding: 20px;
    line-height: 1.4;
    font-size: 17px;
}

.sectionTitle {
    font-family: Lucida Console;
    font-variant: small-caps;
    margin: -30px auto 10px;
    color: #111;
    background-color: #0000;
    text-indent: 5%;
}

.section iframe {
    height: 100%;
    width:  100%;
    max-width: calc(1920px/2);
    max-height: calc(1080px/2);
    margin: 0px auto;
    display: block;
}

