@import "common_normal.css";

:root {
    --content-bg-color:            #242421;
    --content-item-bg-color:       #4c2b28;
    --content-item-bg-hover-color: #4c2b28e0;
    --content-item-border-color:   #9b9a97;
    --content-item-shadow-color:   #19000dd0;
    --content-active-text-color:   #ff99cc;
}

.page h2 {
    /* mix-blend-mode: difference; */
    padding: 0pt;
    margin:  5pt;
    margin-top: 0pt;
    font-size: 20pt;
    display: inline-block;
    
    text-align: center;
    width: 100%;
    height: 30pt;

    background-color: var(--page-title-bg-color);
    backdrop-filter: blur(2.0pt) sepia(1.0);

    /* box-shadow: 0pt 0pt 100pt var(--content-item-shadow-color); */
    /* border: solid blue; */
    /* translate: -100% 0; */

    /* animation: slide-from-left 5s ease-in normal; */
}

.page .content {
    /* min-height: 100%; */
    /* max-height: 100%; */
    /* width: 80%; */

    position: absolute;
    left: 0px;
    top:  0px;
    right: 0px;
    bottom: 0px;

    flex: 1;
    padding: 0pt;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    /* border: solid blue; */

    /* background-color: var(--content-bg-color); */
}

.content .column {
    /* border: solid red; */
    flex: 1;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: relative;    

    border-radius: 20pt;
    
    /* filter: grayscale(40%); */
    /* filter: blur(1pt); */
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: solid var(--main-bg-color);
    transition: all 750ms ease-in-out;

    margin: 10pt 5pt;
}

.column:hover {
    border: solid var(--content-item-border-color);
}

.column:hover .effects {
    backdrop-filter: blur(0pt) saturate(100%) contrast(100%);
    background-color: #0000;
}

.content .column .item {
    background-color: var(--content-item-bg-color);
    backdrop-filter: blur(1.0pt) grayscale(1.0);

    margin:  10pt 10pt;
    /* margin-top: 10%; */
    padding: 5pt 15%;
    height: 30%;

    border-radius: 15pt;
    border: solid var(--content-item-border-color);

    /* transition: margin 200ms ease-in; */
    transition: all 200ms ease-out;
}

.content .column:hover .item {
    background-color: var(--content-item-bg-hover-color);
    backdrop-filter: blur(0.0pt) grayscale(1.0);
    /* margin-top: 0%; */
    /* background-color: red; */

    text-shadow: 0pt 0pt 5pt var(--content-item-shadow-color);
}

/* 
.content .column:hover .item {
    transform: scale(1.01);
    backdrop-filter: blur(1.0pt) sepia(0.5);
    z-index: 99;
    cursor: pointer;
    background-color: var(--content-item-bg-hover-color);
} */

.content .column .item h3 {
    /* mix-blend-mode: difference; */
    margin: 5pt;
    text-align: center;

    /* border: solid red; */
}

.content .column .item p {
    margin: 5pt;

    text-align: left;
}

.horizontal {
    flex: 1;
    display: flex;
    
    /* width: 100%; */

    flex-direction: row;
    align-items: stretch;
    text-align: center;
    justify-content: center;

    /* border: solid red; */
}

.vertical {
    flex: 1;
    display: flex;

    /* height: 100%; */

    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.center {
    margin: 0px;
    width: 100%;
    text-align: center;
}

.no-hover {
    pointer-events: none;
}

.header-animation {
    animation: header-animation ease-out infinite;
    animation-duration: 500ms !important;
    animation-play-state: paused;
}

.content-animation {
    animation: content-animation ease-out infinite;
    animation-duration: 500ms !important;
    animation-play-state: paused;
}

@keyframes header-animation {
    0% {
        translate: -100% 0%;
        /* opacity: 1.0; */
    }
    50% {
        translate: -75% 0%;
        /* opacity: 0.0; */
    }
    100% {
        translate: 0% 0%;
        /* opacity: 1.0; */
    }
}

@keyframes content-animation {
    0% {
        translate: -300% 0%;
        /* opacity: 0.0; */
    }
    100% {
        translate: 0% 0%;
        /* opacity: 1.0; */
    }
}