button.defaultButton {
    margin: 10px 0px 20px;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    color: #FFF;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 7px #999;
}

button.defaultButton:hover {
    background-color: #3e8e41;
    box-shadow: 0px 5px #666;
    transform: translate(0px, 2px);
}

button.defaultButton:active {
    background-color: #3e8e41;
    box-shadow: 0px 3px #555;
    transform: translate(0px, 4px);
}

#title {
    color: #fff;
    background-color: #0000;
    margin: auto;
    padding-bottom: 1lh;
    position: relative;
    top: 0px;
    font-size: 30px;
}

#title:hover {
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
}

div.menuBar {
    /* display: inline-block; */
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    margin: 0vw;
    padding: 0px;
    width: 13vw;
    height: calc(100%);
    background-color: #112;
    float: left;
}

div.menuBar .menuBarItem {
    padding: 0vw;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    color: #FFF;
    background-color: var(--menuBarTabColor);
    border-top: solid; 
    border-bottom: solid; 
    border-color: #668;
    border-width: 2px;
    box-shadow: .5em 0px #668;
    float: left;
    
    width: calc(100% - .5em);
    height: 5lh;
    
    display: flex;
    align-items: center;
    text-align: left;

    transition: transform 200ms, background-color 200ms;
    transition-timing-function: ease;

}

div.menuBar .menuBarItem:hover {
    background-color: var(--menuBarTabHoverColor);
    box-shadow: 5px 0px #446;
    transform: translate(-4px, 0px);
}

div.menuBar .menuBarItem:active {
    background-color: var(--menuBarTabActiveColor);
    box-shadow: 3px 0px #224;
    transform: translate(-6px, 0px);
}

.menuBarItem img {
    width: auto;
    height: 90%;
    margin-left: 5%;
    border-radius: 30%;
}

.menuBarItem p {
    padding: .5lh;
}