
#title {
    flex: 1;
    color: #fff;
    background-color: #0000;
    margin: 0px;
    position: relative;
    font-size: 200%;

    width: 100%;
    min-height: 5lh;
    max-height: 5lh;
    display: flex;
    align-items: center;
    
    font-family: 'Lucida Sans';
}

#title p {
    width: 100%;
    text-align: center;
}

div.menuBar {
    flex: 0 1 13vw;
    /* position: absolute; */
    /* display: inline-block; */
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0vw;
    padding: 0px;
    height: 100vh;
    background-color: var(--menuBarBackgroundColor);
    float: left;
    
    display: flex;
    flex-direction: column;
}

div.menuBar .menuBarItem {
    flex: 1;
    padding: 0vw;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-family: 'Lucida Sans';
    font-size: 100%;
    color: #FFF;
    background-color: var(--menuBarTabColor);
    /* border-top: solid;  */
    /* border-bottom: solid;  */
    /* border-color: #668; */
    /* border-width: 2px; */
    /* box-shadow: .5em 0px #668; */
    float: left;
    
    width: calc(100%);
    height: 4lh;
    max-height: 5lh;
    
    display: flex;
    align-items: center;
    text-align: left;

    transition: transform 200ms, background-color 200ms, box-shadow 200ms;
    transition-timing-function: ease-out;

}

div.menuBar .menuBarHome {
    flex: 1;

    height: 350px;
    display: flex;
    align-items: flex-end;      
    width: 100%;

    padding: 0px;
    margin: 0px;
}

div.menuBar .menuBarHome p {
    text-align: center;
    
    cursor: pointer;
    outline: none;
    font-family: 'Lucida Sans';
    font-size: 150%;
    color: #FFF;

    width: 100%;

    margin: 0px;
    margin-bottom: 2vh;
    padding: 0px;

    transition: color 200ms;
    transition-timing-function: ease;
}


div.menuBar .menuBarHome p:hover {
    color: var(--linkHoverColor);
}

div.menuBar .menuBarHome p:active {
    color: var(--linkActiveColor);
}

div.menuBarItem.current {
    background-color: var(--menuBarTabActiveColor);
    /* box-shadow: 4px 0px #446; */
    transform: translate(-8px, 0px);
}

div.menuBar .menuBarItem.current:hover {
    background-color: var(--menuBarTabActiveColor);
    /* box-shadow: 4px 0px #668; */
    transform: translate(-2px, 0px);
}

div.menuBar .menuBarItem:hover {
    background-color: var(--menuBarTabHoverColor);
    /* box-shadow: 5px 0px #446; */
    transform: translate(-8px, 0px);
}

div.menuBar .menuBarItem:active {
    background-color: var(--menuBarTabActiveColor);
    /* box-shadow: 4px 0px #224; */
    transform: translate(-10px, 0px);
}


.menuBarItem img {
    width: auto;
    height: 90%;
    margin-left: 5%;
    border-radius: 30%;
}

.menuBarItem p {
    padding-right: 2lh;
}