:root {
    /* Theme is from: 
    https://colorbox.io/?c0=%26p%24s%24%3D12%26p%24h%24st%24%3D50%26p%24h%24e%24%3D210%26p%24h%24c%24%3Deco%26p%24sa%24st%24%3D0.05%26p%24sa%24e%24%3D0.3%26p%24sa%24r%24%3D1%26p%24sa%24c%24%3Deqi%26p%24b%24st%24%3D1%26p%24b%24e%24%3D.1%26p%24b%24c%24%3Deqio%26o%24n%24%3DNeutrals%26o%24ro%24%3Dcw%26o%24ms%24%3D%5B%5D&c1=%26p%24s%24%3D6%26p%24h%24st%24%3D10%26p%24h%24e%24%3D330%26p%24h%24c%24%3Deqo%26p%24sa%24st%24%3D0.7%26p%24sa%24e%24%3D0.7%26p%24sa%24r%24%3D1%26p%24sa%24c%24%3Deqio%26p%24b%24st%24%3D0.9%26p%24b%24e%24%3D0.4%26p%24b%24c%24%3Deqio%26o%24n%24%3DMain%26o%24ro%24%3Dccw%26o%24ms%24%3D%5B%5D
    */
    --ACCENT_0: #e66045;
    --ACCENT_1: #db424e;
    --ACCENT_2: #bb385c;
    --ACCENT_3: #bb385c;
    --ACCENT_4: #702247;
    --ACCENT_5: #661f42;


    --NEUTRAL_0: #fffdf2;
    --NEUTRAL_1: #f4fbed;
    --NEUTRAL_2: #e1efe2;
    --NEUTRAL_3: #ccdcd4;
    --NEUTRAL_4: #afbfbd;
    --NEUTRAL_5: #8c9a9c;

    --BASE_0: #677376;
    --BASE_1: #475055;
    --BASE_2: #2f363b;
    --BASE_3: #1f2429;
    --BASE_4: #161a1e;
    --BASE_5: #121619;	

    --backgroundColor: var(--BASE_4);

    --menuBarBackgroundColor: var(--BASE_3);
    --menuBarTabColor:        var(--BASE_4);
    --menuBarTabHoverColor:   var(--BASE_2);
    --menuBarTabActiveColor:  var(--ACCENT_5);

    --sectionColor: var(--BASE_4);
    --sectionBreakColor: var(--NEUTRAL_1);
    --sectionTitleColor: var(--NEUTRAL_0);
    --sectionTextColor: var(--NEUTRAL_1);
    --captionTextColor: var(--NEUTRAL_0);
    
    --galleryBackground: var(--BASE_3);
    --galleryOutline: var(--ACCENT_5);
    
    --galleryArrowColor: var(--ACCENT_5);
    --galleryArrowActiveColor: var(--ACCENT_1);
    --galleryArrowInactiveColor: var(--NEUTRAL_4);

    --galleryDotColor: var(--ACCENT_5);
    --galleryActiveDotColor: var(--ACCENT_0);

    --linkColor: var(--ACCENT_1);
    --linkHoverColor: var(--ACCENT_0);
    --linkActiveColor: var(--BASE_0);
}
