:root {
    --backgroundColor: #579;
    --menuBarTabColor: #4CAF50;
    --menuBarTabHoverColor: #3e8e41;
    --menuBarTabActiveColor: #3e8e41;

    --sectionColor: var(--backgroundColor);
    --sectionBreakColor: rgb(92, 19, 84);
    --sectionTitleColor: #000;
    --sectionTextColor: #000;
    --captionTextColor: #444
}
