:root {
    --backgroundColor: #ffbaf1;

    --menuBarTabColor: #af4c9d;
    --menuBarTabHoverColor: #8e3e76;
    --menuBarTabActiveColor: #532545;

    --sectionColor: #ffbaf1;
    --sectionBreakColor: rgb(255, 9, 230);
    --sectionTitleColor: #000;
    --sectionTextColor: #000;
    --captionTextColor: #444;
}
