:root {
    --backgroundColor: #baffcf;

    --menuBarTabColor: #4CAF50;
    --menuBarTabHoverColor: #3e8e41;
    --menuBarTabActiveColor: #3e8e41;

    --sectionColor: #baffcf;
    --sectionBreakColor: green;
    --sectionTitleColor: #000;
    --sectionTextColor: #000;
    --captionTextColor: #444;
}
